<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}{% if page.title != nil %} &mdash; {% endif %}awooOS</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ID=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link rel="icon" type="image/png" href="/favicon.png">-->

  <link rel="stylesheet" href="/css/application.css?cachebust={{ site.time | date: '%s.%N' }}">
{% if page.has_code %}
  <link rel="stylesheet" href="/css/pygments.css?cachebust={{ site.time | date: '%s.%N' }}">
{% endif %}
</head>

<body>
  <header>
    <h1>awooOS</h1>

    <nav>
      <ul>
        <li><a href="/">home</a></li><!--
        --><li><a href="https://github.com/awooos/awooos">source</a></li><!--
        --><li><a href="/nightlies/">nightly builds</a></li><!--
        --><!--<li><a href="/blog/">blog</a></li>-->
      </ul>
    </nav>
  </header>
  <main>
    {% if page.title != nil %}
    <h2>{{ page.title }}</h2>
    {% endif %}

{{ content }}
  </main>
</body>
</html>
