---
layout: default
---

<h2>{{ page.title }}</h2>

<p><a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&amp;url={{ page.url | absolute_url }}&amp;via=duckinator"><img src="https://img.shields.io/twitter/url/http/shields.io.svg?style=social" alt="Share on Twitter"></a></p>


{{ content }}

<script>
function add_tabindex() {
  var code_divs = [].slice.call(document.querySelectorAll('.highlight'));

  code_divs.forEach(function (div) { div.setAttribute('tabindex', 0); })
}

window.addEventListener('load', add_tabindex);
</script>
